{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styletv.css">
{% endblock %}

{% block body %}
    <div style="height: 250px">
    </div>

    <h1 class="jumbotron text-center">Page en cours de construction</h1>

    <div style="height: 250px">
    </div>

{% endblock %}