{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styletv.css">
{% endblock %}

{% block body %}

<!--Carousel-->

    <!--Carousel-->

    <div class=divCarousel>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" size= "700x1350">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner tailleCouressl">
                <div class="carousel-item active">
                    <img class="d-block w-100 " background src="images/ville-temple-maroc.png" alt="First slide" >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/phare-velo.png" alt="Second slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="images/photo-cote.png" alt="Third slide">
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- Présentation-->

    <br>
    <br>

    <div class="presentation">
        <h4>Présentation</h4>
        <br>
        <p>Une chaîne qui met en lumière l’héritage d’une Histoire
            partagée. <br>
            Une chaîne qui ouvre les portes à la diversité culturelle et à
            la découverte des richesses de l’autre. <br>
            Une chaine qui partage des savoirs et des savoir-faire,
            autant du nord au sud que du sud au nord.<br>
            Une chaine qui valorise les talents des 2 rives.</p>
    </div>

    <br>




    <div class="row">
        <div class="col-lg-4 col-sm-12">

            <img  class="img-presentation" src="images/fille-fleur.jpg" alt="Fleurs qui tombent sur une fille">

        </div>

        <div class="col-lg-8 col-sm-12">
            <ol class="paragraphe1">


                <h4>LA CHAINE QUI VALORISE L’HUMAIN ET LES TALENTS</h4>



                <p>2RIVES TV est le média qui fait du
                    dialogue et du partage euroméditerranéen
                    et euro-arabe son
                    crédo dans une volonté de
                    rapprochement des peuples, de
                    paix, de valorisation des richesses
                    humaines et de développement
                    économique et social.</p> <br>

                <p>• Interculturelle, 2RIVES TV
                    valorise les échanges entre les
                    Hommes des deux rives de la
                    Méditerranée en particulier, et plus
                    largement entre l’Orient et
                    l’Occident. A travers un média
                    unique, une expérience
                    télévisuelle inédite, 2RIVES TV
                    prône le rapprochement des
                    peuples dans un esprit de paix, de
                    connaissance, d’ entre -
                    connaissance et de reconnaissance
                    de l’autre dans son être, son savoir
                    et ses savoir-faire.</p> <br>

                <p>• Bilingue, 2RIVES TV, chaîne
                    f rançai se, réuni t pour une
                    meilleure interconnaissance, dans
                    l’intelligence et la bienveillance, la
                    Francophonie et l’Arabophonie au
                    travers de l’habillage antenne et
                    par le biais de programmes
                    d’apprentissage français langue
                    ét rangère et arabe langue
                    étrangère.
                </p> <br>

                <p>Diffusée actuellement sur le réseau
                    câblé français, 2RIVES TV s’adresse
                    à tous les publics en promouvant
                    levivre - ensemble et le
                    rapprochement entre les peuples.
                    La force de la chaîne tient dans sa
                    capacité à se différencier de la
                    concurrence, à proposer un
                    contenu inédit qui répond aux
                    besoins de plus de 10 millions de
                    personnes entre les 2 rives et près
                    d’1 milliard de personnes à travers
                    le monde (public francophone et
                    arabophone confondu).</p>

            </ol>
        </div>
    </div>


    <br>
    <br>



    <div class="row">




        <div class="col-lg-8 col-sm-12">

            <ol class="paragraphe2">

                <h4>UNE EXPÉRIENCE TÉLÉVISUELLE SINGULIÈRE ET INÉDITE</h4>



                <p>2RIVES TV cultive un esprit de découverte de la culture
                    méditerranéenne élevée à la puissance 2… parce que se découvrir
                    et se connaître soi-même passe aussi par la découverte et la
                    connaissance de l’autre.</p> <br>


                <h6>LE PARTAGE DES LANGUES</h6>

                <p>Les pays méditerranéens partagent les langues de leur peuple.
                    Ainsi, la langue française est parlée par plus de 60 % de la
                    population des pays du Maghreb et près de 45 % au Liban. La
                    langue arabe est parlée par plus de 10% de la population française.
                    A cette fin, 2RIVES TV propose des contenus bilingues afin de
                    toucher les peuples de part et d’autre de la mer Méditerranée, et
                    ainsi leur offrir la possibilité de s’ouvrir aux échanges économiques
                    et culturels.</p>






            </ol>
        </div>

        <div class="col-lg-4 col-sm-12">

            <img  class="img-presentation2" src="images/tv-sable.jpeg" alt="Télé sur du sable">

        </div>



    </div>

    <br>
    <br>
    <br>

    <h2 class="titre">DERNIERS REPLAYS</h2>

    <br>
    <br>

    <!-- Card vidéos replay-->

    <div class="card-deck">
        <div class="card">
            <iframe width="auto" min height="315" max height="auto" src="https://www.youtube.com/embed/zPO1ME2UjiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

        </div>
        <div class="card">
            <iframe width="auto" min height="315" max height="auto" src="https://www.youtube.com/embed/4GF-8finZ68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>

        </div>
        <div class="card">
            <iframe width="auto" min height="315" max height="auto"src="https://www.youtube.com/embed/ipVlwCwMnuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>

        </div>
    </div>


    <br>
    <br>
    <br>
    <br>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary btn-lg"><a href="https://www.youtube.com/channel/UCpmx1aRBERfIuNFJPmGnFZQ/videos">Tous les Replays</a></button>
    </div>

    <br>
    <br>
    <br>
    <br>
{% endblock %}