{% extends 'base.html.twig' %}

{% block title %}Hello VisitorController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styletv.css">
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <h1>Hello voici le live qui tue sa race</h1>
        {#{{ dump(emission) }}#}

        <div class="container-fluid">
            <table class="table bg-info">
                <th>
                <td> Live</td>
                {#<td> Emission</td>#}
                </th>
                <tbody>
                <tr>
                    <td>
                        <iframe frameborder="0" width="720" height="270" src="https://www.dailymotion.com/embed/video/x3b68jn?autoPlay=1" allowfullscreen="" allow="autoplay"></iframe>
                        <video  width="854" height="480" controls="controls" autobuffer="true" src="http://www.2rives.tv/Backoffice/destination/videos/files/cip%20s01e178%20je%20joue%20oui%20mais%20japprends%20achat.m4v">vidéo</video>
                        {#<video id="player" width="854" height="480" controls="controls" autobuffer="true" poster="images/fond.jpeg"><source id="video_src"  type="video/mp4" /></video>#}

                    </td>
                </tr>
                {#{% for toto in emission %}#}
                    {#<tr>#}
                        {#<td>{{ toto.title }}</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                </tbody>
            </table>
        </div>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'D:/wamp64/www/php/2rives/src/Controller/VisitorController.php'|file_link(0) }}">src/Controller/VisitorController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'D:/wamp64/www/php/2rives/templates/visitor/index.html.twig'|file_link(0) }}">templates/visitor/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
