{% extends 'base.html.twig' %}

{% block title %}Hello VisitorController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styletv.css">
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <h1 class="text-center m-5">Live 2Rives.tv</h1>

        <div class="container-fluid m-5">
            <div class="row justify-content-around">
                <iframe frameborder="2" width="720" height="370" src="https://www.dailymotion.com/embed/video/x3b68jn?autoPlay=1" allowfullscreen="" allow="autoplay"></iframe>
            </div>
        </div>

        <div class="row mb-5">
            <h2 class="titre"><b>DERNIERS REPLAYS</b></h2>

            <br>
            <br>

            <!-- Card vidéos replay-->

            <div class="card-deck">
                <div class="card">
                    <iframe width="auto" min height="315" max height="auto" src="https://www.youtube.com/embed/zPO1ME2UjiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>

                </div>
                <div class="card">
                    <iframe width="auto" min height="315" max height="auto" src="https://www.youtube.com/embed/4GF-8finZ68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>

                </div>
                <div class="card">
                    <iframe width="auto" min height="315" max height="auto"src="https://www.youtube.com/embed/ipVlwCwMnuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

            <div class="text-center mx-auto mt-5">
                <button type="button" class="btn btn-outline-primary btn-lg"><a href="https://www.youtube.com/channel/UCpmx1aRBERfIuNFJPmGnFZQ/videos">Tous les Replays</a></button>
            </div>

            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
{% endblock %}
