{% extends 'baseAdmin.html.twig' %}

{% block title %}New Emission{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une nouvelle émission</h1>

        {{ include('emission/_form.html.twig') }}

        <a href="{{ path('emission_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
