
<!-- Footer-->
<div class="row footer">



    <!--Mentions Légal-->
    <div class="col-lg-4 text-center p-5">
        <!-- Button trigger modal -->

        <p><h6 class="text-light"><span  data-toggle="modal" data-target="#exampleModalLong">Mentions légales</span></h6></p>
        <p><h6 class="text-light">©2019.2RivesTV</h6></p>

    </div>


    <!--Contact-->
    <div class="col-lg-4 text-center p-5">

        <button type="button" class="btn btn-light">Contact</button>

        </ul>
    </div>



    <!-- Suivez-Nous-->
    <div class="col-lg-4 text-center p-5">
        <h3 class="reseaux-sociaux">SUIVEZ-NOUS</h3>
        <a href= https://twitter.com/2rivestv?lang=fr target="_blank" ><img class="img-twitter" src="images/logo-twitter.svg" alt="logo twitter"></a>
        <a href= https://www.facebook.com/2-Rives-TV-1544708692438023/?hc_ref=ARQDo5PSxYR_UURKvEdJWqywpzhCjkuLIpa4d35neeQU2TCTBanbGosKHOpickIAS6U&__xts__[0]=68.ARAdHpq-vnedQsZaXXBUICBvK94f5s-eZFfDoo3BmIt_uGq8VhvS5OvhlMFaeUK827pO51QVqzUugLAriBnmZh9fOYZGaGZQZ0xdhqVv_u1BFYsz6thUDI6wufbLZVFJzpLGk9cbRETemZ4OD8Y-4VlB_TUjqCwNS4hGaHAEvSSl0nWN_DdPW4vTB3xk2_f16IM67meUpqTtqm4B8ETQKkJk_zt9_A8IxNe4cU7eJ2Mfwj-TDSJFyfVAgrAvvHcA0Re6jvkWfIxV41E61GrsuxRmZpXh5BqgBTBdQ9XP3EcQDYzqEg9o-FWv5W56bnPkL6qCXa6mVYgXFwzB32sgf55uliPiWMJZ1JGWLPYK2--uByW4jVPz_FjeKqj8NMZbpCsFleN0lgQaGz2sViU7CBRJldcK-5MELwEpScJrj0cexQFcpELdpQOBTdlN8kyvKln-r8fcKbEuVH22yrkerQZ1flehSAOVzwJ_EJD2EDvE2jIOPk0WU0Jcrg&__tn__=kC-R target="_blank" ><img class="img-twitter" src="images/logo-facebook.svg" alt="logo facebook"></a>
        <a href= https://www.instagram.com/?hl=fr target="_blank" ><img class="img-twitter" src="images/logo-instagram.svg" alt="logo instagram"></a>
        <a href= https://www.youtube.com/channel/UCpmx1aRBERfIuNFJPmGnFZQ/videos target="_blank" ><img class="img-twitter" src="images/logo-youtube.svg" alt="logo youtube"></a>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mentions légales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hello
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
  
  
  
  